<h2>Регистрация ресторана</h2>
    <br/>

    <div class="col-md-12">
        <br/>
            <form>

                <div class="form-row">
                    <div class="col">
                        <label for="RestaurantName">Название ресторана:</label>
                        <input type="text" class="form-control" placeholder="Restaurant name"
                               id="RestaurantName" placeholder="Название" ng-model="restaurant.name">
                    </div>
                    <div class="col">
                        <label for="restaurantEmail">Email адрес:</label>
                        <input type="email" class="form-control" id="restaurantEmail"
                               placeholder="name@example.com" ng-model="restaurant.email">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <label for="RestaurantTime">Время работы:</label>
                        <input type="text" class="form-control" placeholder="Restaurant time"
                               id="RestaurantTime" placeholder="Время" ng-model="restaurant.time">
                    </div>
                    <div class="col">
                        <label for="restaurantId">Id:</label>
                        <input type="text" class="form-control" id="restaurantId"
                               placeholder="name@example.com" ng-model="restaurant.id">
                    </div>
                </div>
                <div class="form-group">
                    <label for="restaurantAddress">Адрес:</label>
                    <textarea class="form-control"
                              id="restaurantAddress" rows="3" ng-model="restaurant.address"></textarea>
                </div>

                <div class="form-group">
                    <a class="btn btn-primary" ng-click="addRestaurant(restaurant)"
                       href="#/restaurants">Зарегистрировать</a>
                </div>

            </form>

</div>